
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth; 
}


body{
  background-image: url("https://www.shutterstock.com/image-vector/minimalist-wave-line-background-clean-600nw-2435948567.jpg");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  background-image: url("https://img.wallpapic.com/i0314-823-247/medium/azules-para-monitores-duales-azul-electrico-ligero-fondo-de-pantalla.jpg");
  display: flex;
  flex-direction: row;  
  justify-content: right;
  align-items: center;
  padding: 25px;
  margin: 1px;
  gap: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  height: 150px;
}

.logo  h2{
  font-size: 55px;
  color: rgba(13, 207, 255, 0.575); 
}

/* HEADER */
header .buscador {
  display: flex;
  flex: 1;
  margin: 0 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

header .buscador input[type="text"]{
  width: 280px;   
  height: 15px;   
  font-size: 16px;
  padding: 15px 10px;
  border-radius: 3px;
}



header .buscador button{
display: flex;
margin: 0 0px;
padding: 7px;
background-color: #00000054;
border-color: #30c99b;
font-weight: bold;
cursor:pointer;
width: 100px;
height: 40px;
color: #ddd;
}

.buscador button:hover{
  transform: scale(1.1);
  transition: ease 0.2s;
  background-color: rgba(0, 0, 0, 0.432);
  color:  #30c99b;
}

.logo{
  font-size: 4rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
  margin-right: 50%;
  color: rgba(0, 0, 0, 0.719);
}

.navegacion {
padding:20px 20px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
color:black;
margin-left: 100vh;
}

.navegacion a{
  text-decoration: none;
  color: rgb(48, 201, 155);
}

.navegacion:hover{
  font-size: 18px;
  transition: font-size 0.3s ease;
}

.navegacion ul{
  display:flex;
  list-style: none;
  text-align: center;
  gap: 20px;
  font-size: 18px;
}

.navegacion ul a:hover{
  font-size: 20px;
  transform: scale(1.8);
  transition: font-size 0.3s ease;
  color:#000000
}


main {
  display:flex;
  flex: 1;
} 

.grilla-de-productos{
  flex:1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  flex-grow: 3;
  gap: 20px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.producto img{
  width: 200px;
  height: auto;
}

.producto{
  display: flex;
  flex-direction: column;
  gap:10px;
  background-color: rgba(255, 255, 255, 0.342);
  border-radius: 5px;
  border:none;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
  margin: 10px;
  box-shadow: 0 0 5px gray;
}

.producto:hover {
  box-shadow: 0 0 5px #30c99b;
  transform: scale(1.05);
  transition: ease 0.3s;
}

.producto button{
  background-color: #ffd700;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  align-self: center;
  box-shadow: 2px 2px 1px 1px #5555555b;
}

.producto button:hover{
  cursor:pointer;
  transform: scale(1,1.2);
  background-color: rgb(48, 201, 155);
  font-size: 15px;
  transition: font-size 0,4s ease;
  color: #fff;
}

.separadores-cat{
grid-column: 1/-1;
justify-self: center;
padding: 20px 20px;
background-color: rgba(0, 0, 0, 0.699);
color: #fff;
font-weight: bold;
border-radius: 5px;
text-align: center;
box-shadow: 0 0 10px gray;
min-width: 70%;
max-width: 1600px;
height: 30px;
line-height: 10px;
align-content: center;
}



/* BARRA LATERAL */
aside {
    display: flex;
    flex:1;
    flex-direction: column;
    background-color: #dbd1d186;
    margin: 10px 10px 10px 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 10px;
    max-width: 200px;
    box-shadow: 4px 4px 1px 1px #5555559a;
}  

aside h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

aside ul {
  text-align: left;
  list-style: none;
}

aside li {
    margin-bottom: 8px;
}

aside a {
    text-decoration: none;
    color: #333;
    font-size: 16px; 
    transition: font-size 0.3s ease;
}

aside a:hover {
font-size: 20px;
color:rgb(48, 201, 155);
font-weight: bold;
}


/* hacer RESPONSIVE */

@media (max-width:600px){

header{
flex-direction: column;
justify-items: center;
justify-content: center;
}

.logo{
  margin-right:0;
  font-size: 2rem;
}

.buscador{
  flex-direction:column;
  gap: 10px;
}

header .buscador input[type="text"]{
  width: 100%;
}

.separadores-cat{
  width: 180px;
}

.navegacion ul{
  flex-direction: column;
  margin-top: 50px;
  gap:10px;
  text-align: center;
  padding:0;
}

.navegacion{
  margin-left: 0;
}

.carrito-logo{
  padding-bottom: 50px;
}

main{
  flex-direction: column;
}

aside{
  max-width: 100%;
  margin-bottom: 20px;
}

.grilla-de-productos{
  grid-template-columns: repeat(auto-fit, minmax (180px, 1fr))
}

.producto img{
  width: 150px;
}

.footer{
  padding: 40px 20px;
  text-align: center;
}


.nosotros, .soporte{
  min-width: 100%;
  min-height: auto;
  align-self: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin: 0 0 0 0;
}

.soporte{
  margin-left: 10;
}

}


@media(min-width:601px) and (max-width:992px){

header{
  flex-wrap: wrap;
  justify-content: center;
}

.logo{
  font-size: 3rem;
  margin-right: 0;
}

.buscador input[type="text"]{
  width: 220px;
}

main{
  flex-direction: row;
}

aside{
  max-width: 180px;
}

.separadores-cat{
  width: 200px;
}

.grilla-de-productos{
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
}


footer {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://wallpapers.com/images/featured/azul-4k-jyoxxfcdd5cjvvmq.jpg");
  border-radius: 10px;
  padding: 40px 20px; 
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.nosotros{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.932);
  padding: 20px 20px;
  font-size: 18px;
  height: 80%;
  width: 70%;
  gap: 20px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: white;
  box-shadow: 3px 3px 20px 3px #30c99b;
}

.nosotros h3{
  margin-bottom: 15px;
  font-size: 25px;
  color: #30c99b;
  align-self: center;
  align-items: center;
}


.nosotros img{
  align-self: center;
  width: 130px;
  height: auto;
  margin-bottom: 15px;
  align-content: center;
  text-align: center;
}


.soporte input{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-bottom: 20px;
}

.soporte{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.932);
  padding: 20px 20px;
  font-size: 18px;
  height: 80%;
  width: 30%;
  gap: 20px;
  margin-right: 0px;
  margin-left: 20px;
  align-content: center;
  border-radius: 10px;
  margin-bottom: 15px;
  color: white;
  box-shadow: 3px 3px 20px 3px #30c99b;
}

.soporte img{
  align-self: center; 
  width: 150px;
  height: auto;
  margin-bottom: 15px;
  align-content: center;
  text-align: center;
}

.soporte h3{
  align-self: center;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
  color: #30c99b;
}

.soporte select, button, label{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 100%; 
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
}

.soporte label{
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.soporte button{
  background-color: #30c99b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
  height: 40px;
}

.soporte p{
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}


.soporte textarea{
  width: 100% ;
  height: 135px;  
  border-radius: 5px;
  margin-top: 1px;
}

.soporte button:hover{
  transform: scale(1,1.2);
  background-color: #ffd700;
  cursor: pointer;
}



/*  CARRITO DE COMPRAS */
.carrito-container {
  position: relative;
  cursor: pointer;
}

.carrito-container img {
  width: 45px;
  height: auto;
}

#contadorCarrito {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 7px;
  font-size: 14px;
  font-weight: bold;
}


.carrito {
  position: fixed;
  top: 0;
  right: -400px;
  width: 280px;
  height: 100%;
  background: white;
  box-shadow: -3px 0 8px rgba(0,0,0,0.3);
  padding: 20px;
  transition: right 0.4s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.carrito.activo {
  right: 0;
}

.carrito h2 {
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 2px solid #ffd700;
  padding-bottom: 10px;
}

#listaCarrito {
  flex: 1;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

#listaCarrito li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}


.cerrar-carrito {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  color: #555;
  transition: 0.2s;
  width: 100px;
}

.img-cerrar-carrito {
  width: 35px;
  height: auto;
  align-self: center;
} 


.cerrar-carrito:hover {
  background-color: #28a57f49;
  transform: scale(1.2);
  border-color: #30c99b;
  border-style: solid;
}

.botones-cantidad {
  display: flex;
  align-items: center;
  gap: 10px;
}

.botones-cantidad button {
  background: #ffd700;
  border: none;
  height: 20px;
  width: auto;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.botones-cantidad button:hover {
  background: #30c99b;
  color: #fff;
}

.total {
  font-size: 18px;
  margin-top: 15px;
  text-align: center;
  gap: 10px;
}

#btnPagar {
  background: #30c99b;
  color: white;
  border: none;
  height: 45px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

#btnPagar:hover {
  background: #28a57f;
  transform: scale(1.1);
  transition: ease 0.3s;
  font-weight: bold;
}


